<ul class="list-group list-group-horizontal rounded-0">
  <li
    class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
    <div class="form-check">
      <input class="form-check-input me-0" type="checkbox" value="" id="flexCheckChecked2"
        aria-label="..."
        hx-patch="{% url 'task_finish_update' task.pk %}"
        hx-target="closest ul"
        hx-swap="outerHTML"
        {% if task.is_finished %}checked{% endif %}/>
    </div>
  </li>
  <li
    class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
    <p class="lead fw-normal mb-0 {% if task.is_finished %}text-decoration-line-through{% endif %}">{{ task.text }}</p>
    </li>
    {% if task.deadline %}
        <li class="list-group-item px-3 py-1 d-flex align-items-center border-0 bg-transparent">
            <div
              class="py-2 px-3 me-2 border border-warning rounded-3 d-flex align-items-center bg-light">
              <p class="small mb-0">
                <a href="#" data-mdb-toggle="tooltip" title="Due on date">
                    <i class="fas fa-hourglass-half me-2 text-warning"></i>
                </a>
                {{ task.deadline }}
              </p>
            </div>
        </li>
    {% endif %}
    <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
        <div class="d-flex flex-row justify-content-end mb-1">
            <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="{{ task.create_by }}">
            <i class="fas fa-info-circle me-3"></i></a>

            <span href="#!" class="text-info d-none close-update-form" data-mdb-toggle="tooltip" title="Edit todo" style="cursor: pointer"
                hx-on="click: $('.edit-task').removeClass('d-none'); this.classList.add('d-none'); $('.update-item').remove()"><i class='fa-regular fa-circle-xmark me-3'></i></span>

            <span href="#!" class="text-info edit-task" data-mdb-toggle="tooltip" title="Edit todo" style="cursor: pointer"
                hx-get="{% url 'task_form_update' task.pk %}"
                hx-target="closest ul"
                hx-trigger="click"
                hx-swap="afterend settle:1s"
                hx-on="htmx:afterRequest: this.classList.add('d-none'); $(this).siblings('.close-update-form').removeClass('d-none')"><i class="fas fa-pencil-alt me-3"></i></span>
            <span class="text-danger"
                data-mdb-toggle="tooltip"
                title="Delete todo"><i
                class="fas fa-trash-alt"
                style="cursor: pointer"
                hx-delete="{% url 'delete_task' task.pk %}"
                hx-target="#card_list"></i></span>
        </div>
    </li>
</ul>