{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <link rel="stylesheet" media="all" href="{% static 'todo/css/todo-style.css' %}">
{% endblock css %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
            <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                <div id="card-body" class="card-body py-4 px-4 px-md-5">

                    <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                      <i class="fas fa-check-square me-1"></i>
                      <u>Твои дела, {{ request.user.username }}</u>
                    </p>

                    <div class="pb-2">
                        <div class="card">
                            <div class="card-body">
                                <form hx-post="{% url 'add_task' %}" hx-target='#card_list' hx-swap="beforeend"
                                    hx-on="htmx:beforeRequest: if ($('.not-item')) {$('.not-item').remove()}; $('#exampleFormControlInput1').val('')">
                                    <div class="d-flex flex-row align-items-center">
                                        {% render_field form.text class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Введите текст" %}
                                        {% render_field form.user class='invisible' %}
                                        {% render_field form.deadline type="text" class="me-3" id="deadline" title="Set due date" %}


{#                                        <a href="#!" id='btn_calendar' data-mdb-toggle="tooltip" title="Set due date"><i class="fas fa-calendar-alt fa-lg me-3"></i></a>#}
                                        <div>
                                          <button type="submit" class="form-btn btn btn-primary">Добавить</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                        <hr class="my-4">

                    <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                        <p class="small mb-0 me-2 text-muted">Фильтр</p>
                        <select id='filter' name='filter' class="select" hx-get="{% url 'filter'  %}" hx-target='#card_list'
                            hx-on="htmx:afterRequest: console.log(event.detail)"
                            hx-vals='js:{"sort": $("#sort").val()}'>
                            <option value="all">Все</option>
                            <option value="done">Завершенные</option>
                            <option value="active">Активные</option>
                            <option value="with_deadline">С дэдлайном</option>
                        </select>
                        <p class="small mb-0 ms-4 me-2 text-muted">Сортировка</p>
                        <select id="sort" name="sort" class="select"
                                hx-get="{% url 'filter' %}"
                                hx-target='#card_list'
                                hx-vals='js:{"filter": $("#filter").val()}'>
                            <option value="create_data">Добавлена</option>
                            <option value="time_to_finish">Срочность</option>
                        </select>
                        <a href="#!" id="sort_order" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending" data-sort_order="asc"
                            hx-get="{% url 'filter' %}"
                            hx-target="#card_list"
                            hx-vals='js:{"filter": $("#filter").val(), "sort": $("#sort").val(), "sort_order": $("#sort_order").data("sort_order")}'
                            hx-on="htmx:afterRequest:
                                if ($(this).data('sort_order') == 'asc') {$(this).html('<i class=\'fas fa-sort-amount-up-alt ms-2\'></i>'); $(this).data('sort_order', 'desc')}
                                else {$(this).html('<i class=\'fas fa-sort-amount-down-alt ms-2\'></i>'); $(this).data('sort_order', 'asc')}"><i
                          class="fas fa-sort-amount-down-alt ms-2"></i></a>
                    </div>
                    <div id="card_list">
                        {% include 'todo/inc/task_list.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
     <script src="{% static 'todo/js/datepicker.js' %}"></script>
{% endblock js %}